{% extends "teachm8app/base.html" %}
{% load i18n %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

{% block content %}
<div class="everything-holder">
 <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
{#    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Login Page</button>#}

    <!-- Modal -->
{#    <div id="myModal" class="modal fade" role="dialog">#}
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login Information</h4>
                </div>
                <div class="modal-body">
                    <p>
                    <form method="post" action="." class="center">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="{% trans 'Log in' %}" class="btn"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>

                    <p>{% trans "Forgot password" %}? <a
                            href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!
                    </p>
                    </p>
                </div>
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
            </div>

        </div>
    </div>
{#</div>#}



{% endblock %}
