{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{#{% block added_links_in_head %}#}
{#    <link rel="stylesheet" href="{% static 'teachm8/css/logout.css' %}" />#}
{#{% endblock %}#}

{% block content %}
    <div class="main-message">
        <div class="logout-message">{% trans "Logged out" %}</div>
    </div>
{% endblock %}

