{% extends "teachm8app/base.html" %}
{% load i18n %}

{% block content %}
    <div class="main-message center">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="{% trans 'Submit' %}" />
        </form>
    </div>
{% endblock %}
