{% extends "teachm8app/base.html" %}
{% load i18n %}

{% block content %}
    <div class="main-message center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 registration">
            {# TODO: improve styling #}
                <div class="title3 center">Create an account</div>
                <form method="post" action="." class="">
                    {% csrf_token %}
                    <div class="form-fields">{{ form.as_p }}</div>
                    <input type="submit" value="{% trans 'Submit' %}" class="btn save" />
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
