{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teachm8 - Find your teacher</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'teachm8/css/bootstrap.min.css' %}" />
        <!-- Custom CSS -->

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'teachm8/css/home_style.css' %}" />

        <!-- Custom Fonts -->
    {#    <link rel="stylesheet" type="text/css" href="{% static 'teachm8/css/home_style.css' %}" />#}
        {#    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css">
        <link href="{% static 'teachm8/css/slick.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        {#    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">#}
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {#    <link rel="stylesheet" type="text/css" href="{% static 'teachm8/css/slick.css' %}" />#}
        {#    <link rel="stylesheet" type="text/css" href="{% static 'teachm8/css/slick-theme.css' %}" />#}
        {% block added_links_in_head %}{% endblock %}

</head>
{% endblock %}

<body>

<!---------------------------------------------------------------------------------------
                                NAVIGATION BAR
------------------------------------------------------------------------------------------->
<nav class="navbar navbar-default navbar-fixed-top background-white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="{% url 'index' %}">
                <img class="img-responsive logo" src="{% static 'teachm8/images/logo-teachmate.jpg' %}" alt="teachm8-logo">
            </a>
        </div>
        <span id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

            <li><a href="{% url 'how_it_works' %}">How it works</a></li>
{#            <li><a href="{% url 'faq' %}">FAQ</a></li>#}
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
               <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
               <li>
                    <span class="dropdown">
                        <img class="profile-picture img-circle" src="/media/{{ user.teachm8user.img }}">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                            <span class="username">{{ user.username }}</span>
                            <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                             <li role="presentation"><a role="menuitem" href="{% url 'update-profile' 'editprofile' %}">Edit profile</a></li>
                             <li class="divider"></li>
                             <li role="presentation"><a role="menuitem" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </span>
               </li>
            {% else %}
                    <li><a href="{% url 'auth_login' %}"><i class="fa fa-user space"></i>Login</a></li>
                    <li><a href="{% url 'registration_register' %}" class="sign-up">Sign up</a></li>
            {% endif %}
         </ul>
         </div><!--/.nav-collapse -->
    </div>
</nav>


<!---------------------------------------------------------------------------------------
                                       LOGIN MODAL
------------------------------------------------------------------------------------------->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="submit_login">ITC Member login</h4>
            </div>

            <div class="modal-body">
                <form action="account.html" method="post" >
                    <div class="form-group">
                        <input type="email" class="form-control" id="email_modal" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password_modal" placeholder="password" required>
                    </div>
                    <p class="text-center">
                        <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                    </p>

                </form>
                <p class="text-center text-muted"><a href="#"><i>Password forgot ?</i></a></p>
                <p class="text-center text-muted">Not registered yet?</p>
                <p id="register_link" class="text-center text-muted"><a><strong class="hover-cursor">Register now</strong></a>! It is easy and done in 1&nbsp;minute and ask help from the entire ITC community</p>

            </div>
        </div>
    </div>
</div>


<!---------------------------------------------------------------------------------------
                                CONTENT
------------------------------------------------------------------------------------------->
<div class="general-content">
    {% block content %}
    {% endblock %}
</div>


<!---------------------------------------------------------------------------------------
                                FOOTER
------------------------------------------------------------------------------------------->
<!-- FOOTER -->
<div>
    <footer>
        <div class="featurette-divider"></div>
{#        <p class="pull-right"><a href="#">Back to top</a></p>#}
        <p class="center">© 2016 Teachm8, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a> · <a href="{% url 'contact-form' %}">Contact Us</a></p>
    </footer>
</div>

<!-- jQuery -->
<script src="{% static 'teachm8/js/jquery.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'teachm8/js/bootstrap.js' %}"></script>

<script src="{% static 'teachm8/js/home.js' %}"></script>
{% block extra_js %}{% endblock %}


</body>

</html>
