{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="dashboard">
                <div class="main-message">
                    <div class="center dashboard title3"> Contact Us </div>
                    <div class="content center">
                        Send an email to info@teachm8.com
                    </div>
                </div> {# main-message #}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}