{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="dashboard">
                <div class="main-message">
                    <div class="center dashboard title3"> DASHBOARD </div>
                    <div class="center">
                        <div class="user-type-btns" role="group" aria-label="...">
                            <button type="button" class="btn" id="teacher-btn">Teacher</button>
                            <button type="button" class="btn" id="student-btn">Student</button>
                        </div>
                    </div>


                    {#    TEACHER TAB    #}
                    <div class="row">
                        <div class="teacher-info">
                            <div class="col-md-4">
                                <div class="dashboard-item">
                                    <div class="title">Requests from students</div>
                                    <div class="content">
                                        {% for request in requests_from_students %}
                                            <ul>
                                                <li>FROM: {{ request.student }}</li>
                                                <li>COURSE: {{ request.course }}</li>
                                                <li>MESSAGE: {{ request.comment }}</li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dashboard-item">
                                <div class="title">Reviews <span class="average-rate">{{ avg_rate }} <i class="fa fa-star"></i></span></div>
                                <div class="content">
                                    {% for review in reviews %}
                                        <ul>
                                            <li>COURSE: {{ review.course}}</li>
                                            <li><div class="rate">RATING: {{ review.rate }} <i class="fa fa-star"></i></div></li>
                                            <li>COMMENT: {{ review.text }}</li>
                                        </ul>
                                    {% endfor %}
                                </div>
                              </div>
                        </div>

                        <div class="col-md-4">
                            <div class="dashboard-item">
                                <div class="title">Courses as teacher</div>
                                {% for course in courses_as_teacher %}
                                    <div class="content courses center">
                                        <ul>
                                            <li>{{ course.name }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                                <div class="add-course center">
                                    <button id="btn-add-course" class="btn"><a class="" href="{% url 'contact-form' %}">+ Add course</a></button>
                                </div>
                            </div>
                        </div>
                        </div>

                        {#    STUDENT TAB    #}
                        <div class="row">
                        <div class="student-info">
                            <div class="col-md-6">
                                <div class="dashboard-item">
                                    <div class="title">Requests to teachers</div>
                                    <div class="content">
                                        {% for request in requests_to_teachers %}
                                            <ul>
                                                <li>TO: <a href="{% url 'teacher-profile' request.teacher.user.id %}">{{ request.teacher }}</a></li>
                                                <li>COURSE: <a class="" href="{% url 'teachers' request.course.id %}">{{ request.course }}</a></li>
                                                <li>MESSAGE: {{ request.comment }}</li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="dashboard-item">
                                    <div class="title">Courses as student</div>

                                    <div class="content center courses">
                                        {% for course in courses_as_student %}
                                            <ul>
                                                <li><a class="" href="{% url 'teachers' course.id %}">{{ course.name }}</a></li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="center">
                                        <button type="button" id="btn-findTeacher-2" class="btn"> Find a teacher <i class="fa fa-search"></i> </button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div> {# main-message #}
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
