{% extends "teachm8app/base.html" %}

{% load staticfiles %}

{% block content %}

    <!---------------------------------------------------------------------------------------
                                HOMEPAGE - VIEW N01
------------------------------------------------------------------------------------------->

    <div  id="home"  class="head">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12 col-md-12">
                    {#                    <a id="btn-findTeacher" class="btn btn-default btn-lg" role="button"> Find a teacher <i class="fa fa-search"></i> </a>#}
                    <button id="btn-findTeacher" type="button" class="btn btn-default btn-lg">Find a teacher <i class="fa fa-search"></i> </button>

                </div>

                <div class="col-sm-12 col-lg-12 col-md-12">
                    <p class="subtitle center">Fixed price. Easy to use. Quick service!</p>
                </div>
                </p>
            </div>
        </div>
    </div>





    <!---------------------------------------------------------------------------------------
                                HOMEPAGE - VIEW N02 - Q1
------------------------------------------------------------------------------------------->
    <div id="home-q1" class="head">
        <div class="container">
            <div  class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <h1 class="main-title"><b>What is your university ?</b> </h1>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <input class="form-control input-style" placeholder="Write your university" id="input-university" required>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6 center-block">
                    <button onclick="display_home()" class="form-control input-style btn-validate float-right"> Previous </button>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6 center-block">
                    <button onclick="display_q2()" class="form-control input-style btn-validate float-left" id="btn-university"> Validate </button>
                </div>

                </p>
            </div>
        </div>
    </div>


    <div id="bar-step1" class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-4 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Step 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>

            <div class="col-xs-4 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Step 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>


            <div class="col-xs-4 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Step 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------
                                HOMEPAGE - VIEW N02 - Q2
------------------------------------------------------------------------------------------->
    <div id="home-q2" class="head">
        <div class="container">
            <div  class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <h1 class="main-title"><b>What is your major ?</b> </h1>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <input class="form-control input-style" placeholder="Write your major" id="input-major" required>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6 center-block">
                    <button onclick="display_q1()" class="form-control input-style btn-validate float-right"> Previous </button>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-6 center-block">
                    <button onclick="display_q3()" class="form-control input-style btn-validate float-left" id="btn-major"> Validate </button>
                </div>

                </p>
            </div>
        </div>
    </div>


    <div id="bar-step2" class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-4 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Step 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>

            <div class="col-xs-4 bs-wizard-step complete"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>


            <div class="col-xs-4 bs-wizard-step disabled"><!-- active -->
                <div class="text-center bs-wizard-stepnum">Step 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------
                                HOMEPAGE - VIEW N02 - Q3
------------------------------------------------------------------------------------------->
    <div  id="home-q3" class="head">
        <div class="container">
            <div  class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <h1 class="main-title"><b>Which course do you want to follow ?</b> </h1>
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <input class="form-control input-style" placeholder="Write your course" id="input-course" required>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 center-block">
                    <button onclick="display_q2()" class="form-control input-style btn-validate float-right"> Previous </button>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6 center-block">
                    <button onclick="display_q3()" class="form-control input-style btn-validate float-left" id="btn-course"> Validate </button>
                </div>
            </div>
        </div>
    </div>


    <div id="bar-step3" class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-4 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Step 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>

            <div class="col-xs-4 bs-wizard-step complete"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>


            <div class="col-xs-4 bs-wizard-step complete"><!-- active -->
                <div class="text-center bs-wizard-stepnum">Step 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------
                                HOMEPAGE - SECOND STRIPE
------------------------------------------------------------------------------------------->

        {#        <div class="col-xs-12 col-lg-12 col-md-12">#}
        <div class="container marketing second-stripe" id="second-stripe">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4 center">
                    <img class="img-circle" src="/media/Student-icon.png" alt="Student-icon" width="140" height="140">
                    <h2 class="title1">Students</h2>
                    <p class="center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p class="center"><a class="" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 center">
                    <img class="img-circle" src="/media/Pen_and_ruler.png" alt="pen-and-ruler-icon" width="140" height="140">
                    <h2 class="title2">teaching</h2>
                    <p class="center">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p class="center"><a class="" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 center ">
                    <img class="img-circle" src="/media/Student-icon.png" alt="Student-icon" width="140" height="140">
                    <h2 class="title1">students</h2>
                    <p class="center">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p class="center"><a class="" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div> <!-- END second-stripe -->

            <!-- START THE FEATURETTES -->
            <!-- /END THE FEATURETTES -->
{% endblock %}