{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="row" xmlns:http="http://www.w3.org/1999/xhtml">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="course-title">Results for: <span class="course-color">{{ course_name }}</span></div>
        <div class="main-separator"></div>

        {% if message %}
            <div class="main-message center">{{ message }}</div>
        {% endif %}

        <div class="teachers-container">
            {% for teacher in teachers %}
                    <div class="teacher">
                    <a href="{% url 'teacher-profile' teacher.teacher.user.id %}">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-picture">
                                <img src="/media/{{ teacher.teacher.user.teachm8user.img }}" alt="Teacher: {{ teacher.user.teachm8user.img }}"/>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="teacher-info">
                                <div class="name"><a href="{% url 'teacher-profile' teacher.teacher.user.id %}">{{ teacher.teacher.user.first_name  }}  {{ teacher.teacher.user.last_name  }}</a>, <span class="location">{{ teacher.teacher.user.teachm8user.location }}</span></div>
                                {% if user.is_authenticated %}
                                    <div class="email">{{ teacher.teacher.user.email }}</div>
                                {% endif %}
                                <div class="rate">{{ teacher.avg }} <i class="fa fa-star"></i></div>
                            </div>


                            <div class="message-button">
                                {% if user.is_authenticated %}
                                    {# Open popup to message teacher #}
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-message" data-toggle="modal" data-target="#message-teacher" id="message-btn-teacher-id-{{ teacher.teacher.id }}" value="{{ teacher.teacher.id }}">Message Teacher</button>

                                    <!-- Modal - message-teacher -->
                                    <div id="message-teacher" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" id="close-message-to-teacher">&times;</button>
                                                    <h4 class="modal-title">Message teacher</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <textarea rows="4" cols="50" placeholder="Message here" id="message-teacher-text"></textarea>
                                                    <br>
                                                    <button type="button" id="btn-send-message-to-teacher">Send</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% else %}
                                    {# Go to registration page #}
                                    <button type="button" class="btn btn-info btn-message-teacher-not-authenticated">Message Teacher</button>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="teacher-description">
                                {{ teacher.teacher.description  }}
                            </div>
                        </div>
                    </div> <!-- End Row -->
{#                    </a>#}
                    <div class="teacher-separator"></div>
                </div>

            {% endfor %}
        </div>


    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}

{% block extra_js %}
    <script> var courseId = {{ course }};</script>
{% endblock %}