{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="main-message">
                <div class="teacher-profile">
                    <div class="title center"> {{ teacher }}'s profile </div>

                    <div class="sub-title">About</div>
                    <div class="content">{{ teacher.description }}</div>

                    <div class="sub-title">Resume</div>
                    <div class="content"></div>

                    <div class="sub-title">AboutTranscripts</div>
                    <div class="content"></div>

                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}