{% extends "teachm8app/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="main-message">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="title3 center">{{ title }}</div>
                {% if  include_form  %}
                <div class="content">
                    {% for field in form_fields %}
                        <div class="profile-field">
                            {{ field.title }}
                            <input type="{{ field.type}}" id="{{ field.name }}" class="form-control"/>
                        </div>
                    {% endfor %}
                    {# University #}
                    <div class="college-selection">
                        <label for="sel1">Select University:</label>
                        <select class="form-control select-menu" id="sel1"></select>
                    </div>
                    {# Location #}
                    Location <input id="pac-input" class="controls" type="text" placeholder="Enter a location"/>
                    <div id="map"></div>
                </div>
                <div class="center save-profile"><button type="button" id="save_profile" class="btn">Save</button></div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'teachm8/js/googleAPI.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4ZQa8frL0RqeXm4myzMyWHBnvympDTV0&libraries=places&callback=initMap" async defer></script>
{% endblock %}
