/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/**************** GLOBAL STYLES******************/

body {
    /*min-height: 1px;*/
    font-family: 'Open Sans', sans-serif;
    color: #1d9b6c;
    background-color: white;
    font-size: 17px;

}
html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*margin: 0 0 35px;*/
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 17px;
        line-height: 1.6;
    }
}

.link-style {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #4FE88F;
    border-bottom: 3px;
}


.navbar-default .navbar-nav>li>a {
    color: #61686F;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #4FE88F;
}

/**************** HOMEPAGE - STYLE ON THE NAVBAR******************/

.navbar-static-top {
    margin-bottom: 19px;
}

.logo{
    height: 50px;
    margin: 10px 0;
}

.space{
    margin-right: 7px;
}

.background-white{
    background: white;
}

.navbar .username {
    line-height: 20px;
    padding: 15px 5px;
    color: #61686F;
}

.username:hover{
    color: #4FE88F;
    cursor: pointer;
}

li img {
    height: 55px;
    padding: 5px 0px 5px 5px;
}

.navbar li a {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*margin: 10% 0%;*/
}

#navbar {
    margin:     10px 0 4px 0;
}

.navbar .sign-up {
    border: 1px solid #B5B1B1;
    border-radius: 12px;
    background-color: #44623C !important;
    color: #FBE050 !important;
}

/**************** HOMEPAGE - STYLE ON FIND YOUR TEACHER******************/

.head {
    background:#181015 url(../images/texture-turquoise.png) no-repeat;
    background-size: cover;
    /*min-height:300px; */
    text-align: center;
    padding-top: 110px;
    color:grey;
    font-family:"Open sans", Helvetica, Arial;
    font-weight:300;
    margin-top: 2.5%;
    /*height: 56.25vw;*/
    padding-bottom: 3%;
    margin-top: 75px;
}


.main-title{
    font-size: 55px;
    margin-top: -90px;
    margin-bottom: 11px;
    color:white;
    text-transform: none;
}

.subtitle{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin-top: 5%;
}

/*button*/
a {
    text-decoration: none;
}

p {
    text-align: left;
}

sup {
    font-size: 36px;
    font-weight: 100;
    line-height: 55px;
}

.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    /*margin: 3em auto;*/
    margin-top: 150px;
    /*padding-bottom: 10px;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    width: 700px;
    height: 70px;
    background: white;
    border: 1px solid #4FE88F;
    color: #4FE88F;
    overflow: hidden;
    transition: all 0.5s;
}

.button:hover,
.button:active {
    text-decoration: none;
    color: #4FE88F;
    border-color: #4FE88F;
    background: #FFF;
}

.button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s;
}

.button span:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -18px;
    opacity: 0;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #FFF;
    border-top: none;
    border-right: none;
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    transform: rotate(-45deg);
}

.button:hover span,
.button:active span {
    padding-right: 30px;
}

.button:hover span:after,
.button:active span:after {
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    opacity: 1;
    border-color: #4FE88F;
    right: 0;
    top: 50%;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background: white;
    border: 1px solid #4FE88F;
    color: #4FE88F;}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background: white;
    border: 1px solid #4FE88F;
    color: #4FE88F;}


/*end button*/
/***************Q1************/

.float-left{
    float: left;
}
/***************Q2************/


.input-style{
    height: 70px;
    margin-top: 25px;
    text-align: center;
    font-size: 23px;
}

.btn-validate{
    width: 150px;
    display: block;
    /* margin-right: auto; */
    margin-left: auto;
    border-radius: 137px 137px 137px 137px;
    -moz-border-radius: 137px 137px 137px 137px;
    -webkit-border-radius: 137px 137px 137px 137px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.form-control:focus {
    border-color: whitesmoke;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.marg-left-none{
    margin-left: 0;
}


/*************PROGRESSION BAR******/
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../images/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    border-radius: 12px;
    color: #42dca3;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3vw;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: white;
    background-color: gainsboro;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer p {
    margin: 0;
}

footer {
   left:0px;
   bottom:50px;
   height:30px;
   width:100%;
   background-color: white;
   margin: 0.5% 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);

}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/************* SECOND STRIPE *************/
.second-stripe {
    /*height: 500px;*/
    width: 100%;
    background-color: #1b6d85;
    padding: 60px 0;
}

.second-stripe p {
    color: white;
}

.second-stripe p a{
    color: black;
}

.second-stripe .title1 {
    color: #FABC3D;
}

.second-stripe .title2 {
    color: #DF5A49;
}

/************* LOGIN *************/
.modal-body form {
    margin-bottom: 4%;
}

/************* LOGOUT *************/
.logout-message {
    text-align: -webkit-center;
}

/************* TEACHERS *************/
.course-title {
    position: relative;
    top: 50px;
    margin-top: 40px;
    margin-bottom: 51px;
    font-size: 1.3em;
}

.course-title .course-color {
    color: grey;
    font-size: 1em;
}

.teachers-container {

}

.teacher {
    margin: auto;
    width: 100%;
    text-align: -webkit-center;
    cursor:pointer;
}

/*.teacher:hover{*/
    /*background-color: aliceblue;*/
/*}*/

.teachers-container .teacher .profile-picture {
    /*height: 140px;*/
    position: relative;
    top: 0;
    float: left;
    margin-right: 30px;
    width: 180px;
    height: 180px;
    overflow: hidden;

}

.teachers-container .teacher img {
    /*height: 100%;*/
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.teachers-container .teacher .teacher-info {
    text-align: left;
}

.teachers-container .teacher .name {
    font-size: 1em;
}

.teachers-container .teacher .email {
    font-size: 1em;
    color: grey;
}

.teachers-container .teacher .rate {
    font-size: 1em;
    color: #BBBB1A;
}

.teachers-container .teacher .teacher-description {
    text-align: left;
    color: black;
    font-size: 1em;
}

.teacher-info .location {
    font-size: 0.7em;
    color: gray;
}

.main-separator {
    border-bottom: 1px solid grey;
    width: 100%;
    margin: auto;
    margin-bottom: 2%;
    position: relative;
}

.teacher-separator {
    border-bottom: 1px dotted grey;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 100%;
}

.teachers-container .teacher .message-button {
    float: left;
    position: relative;
    top: 15px;
}

/************* DASHBOARD *************/

.user-type-btns {
    margin-bottom: 5%;
}

.dashboard {
    margin-bottom: 2%;
}

.dashboard-item {
    float: left;
    width: 100%;
    margin: 2%;
    border: 1px solid black;
}

.dashboard-item .title {
    border-bottom: 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: black;
}

/*TODO: not working on first-child*/
.dashboard-item .content {
    padding: 0 2%;
    margin-bottom: 2.5%;
}

.dashboard-item .content:first-child {
    margin-top: 0.5%;
}

.dashboard-item .content:last-child {
    border-bottom: None;
}

.dashboard-item .content ul {
    list-style-type: none;
    padding-left: 0;
}

.dashboard-item .courses  {
    position: relative;
    position: relative;
    top: 6px;
    /*top: 50%;*/
    /*transform: translateY(25%);*/
}

.dashboard-item .add-course {
    padding: 2%;
}

.dashboard-item .average-rate {
    color: #EFEF2C;
    font-size: 0.9em;
}

#btn-findTeacher-2 {
    margin-bottom: 10px;
}

/************* TEACHER PROFILE *************/
.teacher-profile * {
    border-bottom: 1px solid grey;
}

.teacher-profile .sub-title {
    font-size: 1em;
}

.teacher-profile .content {
    font-size: 0.8em;
    color: black;
}

/************* UPDATE PROFILE *************/
.content .profile-field {
    margin: 2% 0;
}

.save-profile {
    position: relative;
    top: 20px;
}

.save-profile button {
    background-color: #0079C3;
    color: #FFFFFF;
    border-radius: 30px;
}

.content .college-selection {
    margin-bottom: 7px;
}

.college-selection label {
    font-weight: normal;
}

.select-menu {
    width: 50%;
}

#map {
    /*visibility: hidden;*/
}
/************* GOOGLE MAPS API *************/
#map {
    width: 100%;
    height: 400px;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  /*font-family: Roboto;*/
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 9px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
/*********** REGISTRATION *************/
.registration {
    /*background-color: #44623C;*/
    /*padding: 2% 2%;*/
    /*border-radius: 10px;*/

}.registration .form-fields {
    /*color: white;*/
 }

 .registration .save {
    background-color: #0079C3;
    color: #FFFFFF;
    border-radius: 30px;
}

/************* GENERAL *************/
.main-message {
    position: relative;
    top: 100px;
}

.center {
    text-align: -webkit-center;
}

.general-content {
    min-height: 910px;
}

.title3 {
    margin-bottom: 2%;
    /*margin-top: 2%;*/
    font-size: 1.5em;
    color: #E1C121;
}

